<h1>All Pets for <%= @owner.first_name %></h1>
<hr>
<% @pets.each do |pet| %>
  <ul>
    <%= link_to pet.name, owner_pet_path(@owner, pet)%>
    <li><strong><%= pet.breed %></strong></li>
  </ul>
<% end %>
